# Machine Learning Path: Pandas Exercises

## A - Creating DataFrames

### A.1. Import Pandas and Print out the current version

In [1]:
import pandas as pd
pd.__version__

'0.24.2'

### A.2. Create an empty DataFrame

In [2]:
data = pd.DataFrame()
data

Empty DataFrame
Columns: []
Index: []

In [3]:
data.empty

True

### A3 - Create a dataframe from a dictionary

In [4]:
dict = {'a': [1, 2],
        'b': [3, 4] }

In [5]:
data = pd.Series(dict)

In [6]:
data

a    [1, 2]
b    [3, 4]
dtype: object

### A4 - Create the following dataframe
Expected output:
            city  population  rainfall
0       San Jose          10      15.5
1  San Francisco           5      10.2
2    Los Angeles          30       5.5
3        Seattle           7      50.5

In [10]:
city_dict = {0:'San Jose', 1:'San Francisco', 2:'Los Angeles', 3:'Seatle'}
city = pd.Series(city_dict)
city

0         San Jose
1    San Francisco
2      Los Angeles
3           Seatle
dtype: object

In [11]:
population_dict = {0:10, 1:5, 2:30, 3:7}
population = pd.Series(population_dict)
population

0    10
1     5
2    30
3     7
dtype: int64

In [12]:
rainfall_dict = {0:15.5,1:10.2,2:5.5,3:50.5}
rainfall = pd.Series(rainfall_dict)
rainfall

0    15.5
1    10.2
2     5.5
3    50.5
dtype: float64

In [14]:
city_information = pd.DataFrame({'city':city, 'population':population, 'rainfall':rainfall})
city_information

            city  population  rainfall
0       San Jose          10      15.5
1  San Francisco           5      10.2
2    Los Angeles          30       5.5
3         Seatle           7      50.5

### A5 - Print the shape of above dataframe

In [15]:
city_information.shape

(4, 3)