# B - Indexing and Slicing

In [1]:
import pandas as pd
city_dict = {0:'San Jose', 1:'San Francisco', 2:'Los Angeles', 3:'Seatle'}
city = pd.Series(city_dict)

population_dict = {0:10, 1:5, 2:30, 3:7}
population = pd.Series(population_dict)

rainfall_dict = {0:15.5,1:10.2,2:5.5,3:50.5}
rainfall = pd.Series(rainfall_dict)

city_information = pd.DataFrame({'city':city, 'population':population, 'rainfall':rainfall})

### B1 - In the above dataframe, print out population column (★☆☆)

In [2]:
city_information['population']

0    10
1     5
2    30
3     7
Name: population, dtype: int64

### B2 - Print out column 2

In [11]:
city_information['rainfall']

0    15.5
1    10.2
2     5.5
3    50.5
Name: rainfall, dtype: float64

### B3 - In the previous example, just print out the city names, without index

In [15]:
city_information.city.values

array(['San Jose', 'San Francisco', 'Los Angeles', 'Seatle'], dtype=object)

### B4 - Print out the row for San Francisco

In [22]:
city_information[1:2]

            city  population  rainfall
1  San Francisco           5      10.2

### B5 - Print out rainfall number for Settle

In [31]:
city_information[3:4]['rainfall']

3    50.5
Name: rainfall, dtype: float64